.card {
    width: 12rem;
    height: 8rem;
    padding: 0.5rem;
    border-radius: 6px;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 1);
    background-color: #fff;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    position: relative;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 3px;
}

.card-text {
    font-family: 'Pokemon Font', Inter, sans-serif;
    font-size: 0.75rem;
    color: black;
    text-align: center;
}