.scoreboard-wrapper {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    background-color: white;
    padding: 0.75rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 1);
}

.score-text {
    font-size: 1rem;
    font-family: 'Pokemon Font', Inter, sans-serif;
    color: black;
    margin: 0.25rem 0;
}